body{
    background-image: url(/img/graf.jpg);
    background-size: cover;
}

.grupos{
    background-color: blueviolet;
}

.grupo{
    margin: 5px;
}

.grupo img{
    transition: 0.1s linear;
    width: 500px;
    height: 400px;
}

.grupo img:hover{
    transition: 0.1s linear;
    width: 560px;
    height: 460px;
}

.evento{
    background-color: blue;
    margin-bottom: 30px;
}

@media (max-width: 600px) {
    .grupo img{
        width: 350px;
        height: 300px;
    }

    .grupo img:hover{
        width: 450px;
        height: 350px;
    }
}